.log1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #4299e1, #9f7aea);
}

.log2 {
  background-color: #ffffff;
  color: #000000;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 24rem;
  width: 100%;
}

.log2-foreground {
  color: #333333;
}

.log3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--primary-color);
}

.log4 {
  margin-bottom: 1rem;
}

.log5 {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.log6 {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  outline: none;
}

.log6:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.log7 {
  margin-bottom: 1.5rem;
}

.log8 {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: backgrond-color 0.2s ease;
}

.log8:hover {
    background-color: #0056b3;
}
